
.mascot-icon {
  width: 15%;
  height: auto;
}

.percent-progress {
  font-size: 22;
  font-weight: 500;
}

.dialog-question {
  padding-left: 10;
  text-align: center;
  font-size: 24;
  width: 80%;
  color: #000;
  font-weight: 300;
}

.radio-input {
  padding-top: 10;
  padding-bottom: 10;
  vertical-align: middle;
}

.radio-input .radio {
  width: 16;
  height: 16;
  margin-right: 5;
  border-radius: 50%;
  border-width: 2;
  border-color: #ffd166;
  background-color: #fff;
}

.radio-input .radio Label {
  margin-left: 3;
  margin-top: 3;
  width: 6;
  height: 6;
  border-radius: 50%;
  background-color: #fff;  
}

.radio-input.active .radio {
  border-width: 3;
}

.radio-input.active .radio Label {
  background-color: #ffd166;
}

.radio-input > Label {
  color: #555;
  font-size: 13;
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Dosis', 'Dosis-Bold';
}

.radio-input.active Label {
  color: #000;
  /* text-decoration: underline; */
}
/* 
.radio-input.active Label {
  color: #1da1ff;
} */