.carousel-btn {
  color: #888;
  border-radius: 20;
  font-size: 30;
  font-weight: 300;
  vertical-align: center;
  z-index: 25;
}

.font-awesome {
  font-family: "FontAwesome", 'fontawesome-webfont';
}

.icon-lesson {
  width: 15;
  height: auto;
  margin-top: 5;
}

.mascot-icon {
  width: 90;
  height: auto;
}

.percent-progress {
  font-size: 22;
  font-weight: 500;
}

.dialog-question {
  text-align: center;
  font-size: 22;
  width: 70%;
  color: #000;
}

.radio-input {
  margin-top: 10;
  margin-bottom: 10;
  vertical-align: middle;
}

.radio-input .radio {
  width: 16;
  height: 16;
  margin-right: 5;
  border-radius: 50%;
  border-width: 2;
  border-color: #ffd166;
  background-color: #fff;
}

.radio-input.active .radio {
  border-width: 3;
  background-color: #1da1ff;
}

.radio-input Label {
  color: #000;
  font-size: 12;
  text-transform: uppercase;
  font-weight: 500;
}

.slide-btn-wrapper {
  padding-left: 10;
  padding-right: 10; 
  height: 100%; 
  width: 12%;
  orientation: horizontal;
}

.slide-btn-wrapper Image {
  vertical-align: middle;
}

.thematic-section-slide {
  width: 85%;
}

.thematic-section {
  color: #000;
  width: 100%;
  height: auto;
  min-height: 250;
  border-radius: 10;
  background-color: #f7efdb;
  margin-left: -100%;
  padding: 15;
  padding-bottom: 30;
  horizontal-align: left;
}

.thematic-section .thematic-section-title {
  text-align: center;
  font-size: 16;
  font-weight: 200;
  margin-bottom: 10;
}

.thematic-section .thematic-section-content {
  font-size: 14;
  white-space: nowrap;
}

.thematic-section-slide Button {
  margin-top: -25;
  width: 90%;
}