
.mascot-icon {
  width: 34;
  height: auto;
}

.percent-progress {
  font-size: 22;
  font-weight: 500;
}

#downloadProgression {
  color: #058d00;
}

#downloadPercentage {
  font-weight: 500;
}

#downloadFailed {
  color: #aa0606;
}

.video-thumbs {
  width: 100%;
  height: 100%;
  border-radius: 15;
}

.video-thumbs-wrapper {
  padding: 10;
  width: 50%;
}

.video-thumbs-wrapper Label {
  text-align: center;
  width: 34;
  border-width: 3;
  color: #1da1ff;
  border-color: #1da1ff;
  background-color: #fff;
  border-radius: 50%;
  margin-top: -18;
  font-size: 22;
}

.video-thumbs-wrapper.active Border {
  width: 100%;
  height: 100%;
  border-radius: 15;
  border-width: 3;
  border-color: #1da1ff;
  background-color: #1da1ff;
}

.video-thumbs-wrapper.active Border .video-thumbs {
  width: 100%;
  height: 100%;
  margin-right: -3;
  margin-bottom: -3;
  border-radius: 18;
}

.video-thumbs-wrapper.locked Label {
  color: #a1a1a1;
  border-color: #a1a1a1;
}

.progress-lesson {
  margin-bottom: 10;
}

.progress-lesson .progress-episode {
  width: 23%;
}

.progress-lesson .progress-step {
  border-width: 2;
  color: #1da1ff;
  border-color: #1da1ff;
  background-color: #fff;
  border-radius: 50%;
  font-size: 9;
  font-weight: 500;
  margin-right: 5;
  width: 16;
  height: 16;
  text-align: center;
}

.progress-lesson .progress {
  width: 100%;
  margin-right: 5;
  color: #1da1ff;
  height: 12;
  border-radius: 4;
  background-color: #ffb402;
}

.progress-lesson .progress-step-final {
  width: 16;
}

.progress-lesson .progress-episode.locked Label {
  color: #a1a1a1;
  border-color: #a1a1a1;
}

.progress-lesson .progress-episode.locked .progress {
  color: #a1a1a1;
  background-color: #a1a1a1;
}
