TextField {
    background-color: #fff;
    border-color:#E7E7E7;
    border-width: 1;
    padding: 0;
    padding-left: 16;
    padding-right: 16;
    margin: 4;
    height: 40;
    border-radius: 25%;
}  

.text-bold {
    font-weight: bold;
    font-size: 18;
    color: #000;
}
  
.page {
    background-color: #F5F5F5;
}
  