
.percent-progress {
  font-size: 22;
  font-weight: 500;
}

.sharing-icon-lesson {
  width: 40;
  height: 40;
}

.icon-play {
  width: 60;
  height: 60;
  margin-top: 50%;
  margin-left: 50%;
  top: -30;
  left: -30;
}