.carousel-btn {
  color: #888;
  border-radius: 20;
  font-size: 30;
  font-weight: 300;
  vertical-align: center;
  z-index: 25;
}

.font-awesome {
  font-family: "FontAwesome", 'fontawesome-webfont';
}

.icon-lesson {
  width: 15;
  height: auto;
  margin-top: 5;
}

.mascot-icon {
  width: 80;
  height: auto;
}

.percent-progress {
  font-size: 22;
  font-weight: 500;
}

.dialog-question {
  text-align: center;
  font-size: 22;
  width: 70%;
  color: #000;
}

.radio-input {
  padding-top: 15;
  padding-bottom: 15;
  vertical-align: middle;
}

.radio-input .radio {
  width: 16;
  height: 16;
  margin-right: 5;
  border-radius: 50%;
  border-width: 2;
  border-color: #1da1ff;
  background-color: #fff;
}

.radio-input .radio Label {
  margin-left: 3;
  margin-top: 3;
  width: 6;
  height: 6;
  border-radius: 50%;
  background-color: #fff;
}

.radio-input.active .radio {
  border-width: 3;
}

.radio-input.active .radio Label {
  background-color: #1da1ff;
}

.radio-input.active.true-answer .radio Label {
  background-color: #058d00;
}

.radio-input.active.false-answer .radio Label {
  background-color: #aa0606;
}

.radio-input.true-answer .radio {
  border-color: #058d00;
}

.radio-input.false-answer .radio {
  border-color: #aa0606;
}

.radio-input > Label {
  color: #555;
  font-size: 16;
  font-weight: 400;
  font-family: 'Dosis', 'Dosis-Bold';
}

.radio-input.active Label {
  color: #000;
}

.radio-input.active.true-answer Label {
  color: #058d00;
}

.radio-input.active.false-answer Label {
  color: #aa0606;
}

.slide-btn-wrapper {
  padding-left: 10;
  padding-right: 10;
  height: 100%;
  width: 12%;
  vertical-align: middle;
}

.quiz-section-slide {
  width: 85%;
}

.quiz-section {
  color: #000;
  width: 100%;
  height: auto;
  min-height: 250;
  border-radius: 10;
  background-color: #f7efdb;
  margin-left: -100%;
  padding: 15;
  padding-left: 30;
  horizontal-align: left;
}

.quiz-section .quiz-section-title {
  text-align: left;
  font-size: 22;
  font-weight: 200;
  margin-bottom: 10;
}

.quiz-section .quiz-section-answers {
  font-size: 160;
  white-space: nowrap;
}

.quiz-section-slide Button {
  margin-top: -25;
  width: 50%;
}

.answer-mascot {
  width: 150;
  height: auto;
}

.feedback-wrapper {
  width: 80%;
}

.feedback-section {
  color: #000;
  width: 100%;
  height: auto;
  min-height: 260;
  border-radius: 10;
  background-color: #f7efdb;
  margin-left: -100%;
  padding: 15;
  padding-left: 30;
  horizontal-align: left;
}

.feedback-section .feedback-section-title {
  text-align: left;
  font-size: 22;
  font-weight: 200;
  margin-bottom: 10;
}

.feedback-wrapper Button {
  width: 80%;
  font-size: 14;
}

.feedback-wrapper Button.btn-overflow {
  margin-top: -25;
}
