﻿@import 'nativescript-theme-core/css/core.light.css';

Page {
  font-family: 'Dosis', 'Dosis-Regular';
}

.font-delius {
  font-family: 'Delius', 'delius-regular';
}

.font-dosis-light {
  font-family: 'Dosis', 'Dosis-Light';
}

.font-dosis-bold {
  font-family: 'Dosis', 'Dosis-Bold';
}

.btn {
  font-size: 14;
}

Label {
  white-space: normal;
}

ActionBar {
  background-color: #fff;
}

Page {
  background-color: #f5f5f5;
}

.text-primary {
  color: #1da1ff;
}

.parcours-title {
  font-size: 14;
  text-transform: uppercase;
}

.lesson-title {
  color: #3e2108;
  font-size: 18;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Dosis', 'Dosis-Bold';
}

.icon-lesson {
  width: 20;
  height: auto;
  margin-top: 5;
}

Label {
  white-space: normal;
}

.px-40 {
  padding-left: 30;
  padding-right: 30;
}

.py-20 {
  padding-top: 20;
  padding-bottom: 20;
}

.btn-primary {
  height: 40;
  border-radius: 30%;
  padding-left: 30;
  padding-right: 30;
  background-color: #00b0eb;
  font-size: 15;
  font-weight: 600;
  text-transform: uppercase;
}

.btn.btn-primary.disabled {
  background-color: #8bd8f1;
}

.progress-lesson.progress-inner-lesson {
  margin-bottom: 10;
}

.progress-lesson.progress-inner-lesson .progress-previous-episode {
  width: 15%;
}

.progress-lesson.progress-inner-lesson .progress-current-episode {
  width: 65%;
}

.progress-lesson.progress-inner-lesson .progress-next-episode {
  width: 20%;
}

.progress-lesson.progress-inner-lesson .progress-step {
  border-width: 2;
  color: #1da1ff;
  border-color: #1da1ff;
  background-color: #fff;
  border-radius: 50%;
  font-size: 8;
  margin-right: 5;
  width: 16;
  height: 16;
  text-align: center;
}

.progress-lesson.progress-inner-lesson .progress {
  margin-top: 3;
  margin-right: 5;
  color: #1da1ff;
  height: 12;
  border-radius: 4;
  background-color: #ffb402;
}

.progress-lesson.progress-inner-lesson .progress-next-episode .progress {
  margin-right: 0;
}

.progress-lesson.progress-inner-lesson .progress-lesson-section .progress {
  margin-right: 0;
}

.progress-lesson.progress-inner-lesson .progress-episode.locked Label {
  color: #a1a1a1;
  border-color: #a1a1a1;
}

.progress-lesson .progress-episode.locked .progress {
  color: #a1a1a1;
  background-color: #a1a1a1;
}

.progress-inner-lesson .progress-lesson-section {
  width: 25%;
}

.progress-inner-lesson .icon-lesson-section {
  width: 40%;
  margin-top: 10;
}

.progress-inner-lesson .icon-lesson-section-title {
  font-size: 8;
  color: #1da1ff;
  text-align: center;
}

.progress-inner-lesson .icon-lesson-section-title-gold {
  font-size: 8;
  color: #ffb402;
  text-align: center;
}

.progress-lesson .progress-step-final {
  width: 16;
}

.sidedrawer-left {
  background-color: #1da1ff;
}

.sidedrawer-left .sidedrawer-content {
  color: #fff;
}

.sidedrawer-left .sidedrawer-content StackLayout {
  padding-left: 20;
  padding-top: 7;
  padding-bottom: 7;
}

.sidedrawer-left .sidedrawer-content StackLayout.top-border {
  border-top-width: 1;
  border-top-color: rgba(150,150,150,.89);
}

.sidedrawer-left .sidedrawer-list-item-text {
  color: #fff;
  border-width: 0;
  font-size: 20;
}

.sidedrawer-left .sidedrawer-content StackLayout.home {
  padding-top: 10;
}

.sidedrawer-left .sidedrawer-content StackLayout.home .sidedrawer-list-item-text {
  font-size: 20
}

.sidedrawer-left .sidedrawer-content StackLayout.green-line {
  padding-left: 0;
  padding-top: 10;
  padding-bottom: 10;
}

.sidedrawer-left .sidedrawer-content StackLayout.green-line Image {
  width: 75%;
  margin-left: 12.5%;
}
