Page {
  color: black;
}

.page {
  background-color: #efefef;
}

.page-content {
  padding: 20;
}

.question {
  font-size: 16;
  font-weight: bold;
  margin-bottom: 5;
}

.answer {
  margin-bottom: 0;
}
