page {
  background-color: #F5F5F5;
}

label {
  text-transform: uppercase;
  font-size: 20;
  font-weight: 600;
  color: #333;
}

TextField {
  background-color: #fff;
  border-width: 4;
  border-color: #E8E8E8;
  width: 65%;
  border-radius: 25%;
  padding-left: 20;
}

.title {
  color: #f1f1f1;
  font-size: 35;
}

#slideContainer {
 vertical-align: center;
}

.mascotImage {
  width: 60%;
  height: 100%;
}

.selected {
  border-color: #369FF0;
  border-width: 4;
  padding: 4 0;
}

.slide-btn-wrapper {
  padding-left: 10;
  padding-right: 10; 
  height: 100%; 
  width:15%;
  vertical-align: middle;
}

.mascot-slide-image StackLayout {
  width: 70%; 
  horizontal-align: left;
  background-color: #f7efdb;
  border-radius: 20;
}

