.page {
  background-color: #fff;
}

.page-content {
}

Page {
  color: black;
}

.phoneField {
  placeholder-color: darkgray;
  background: whitesmoke;
  border-color: white;
  width: 100%;
  padding-left: 20;
  margin-bottom: 0;
}

#whyPhoneNumber {
  width: 100%;
  padding-left: 10;
  padding-right: 10;
  margin-bottom: 20;
  font-size: 12;
}

TextView {
  background-color: #fff;
  border-width: 4;
  border-color: #E8E8E8;
  width: 100%;
  height: 150;
  border-radius: 25%;
  padding-left: 20;
}

#sendingSucceed {
  color: #058d00;
}

#sendingFailed, #wrongPhoneNumber, #fillAllFields {
  color: #aa0606;
}
.questionItem{
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  color: white;
  background: #2c5da4;
  background-attachment: fixed;
  position: relative;
  font-size: 18;
  border: none;
}
.test{
  border: none;
  border-bottom-width: 0;
}
.answerItem{
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  color: black;
  background: #ebf4fb;
  background-attachment: fixed;
  position: relative;
  font-size: 18;
  border: none;
  word-wrap: break-word !important;
}

.conversation{
  padding-left: 20;
  padding-right: 20;
  padding-top: 5;
}
.message-form {
    padding-top: 10;
    /* border-top-width: 0.5;
    border-top-color: lightgray; */
}
.chat-textfield {
    font-size: 15;
    placeholder-color: darkgray;
    background: whitesmoke;
    border-color: white;
    padding: 10;
    border-radius: 20;
    height: 10%;
}
.chat-btn-send {
    color: white;
    font-size: 14;
    font-weight: bold;
    background-color: #2c5da4;
    height: 35;
    border-radius: 20;
    width: 100%;
}



/*
.chat-header-icon {
    margin-left: 15;
    width: 32;
    height: 32;
    border-radius: 50%;
}
.chat-header-label {
    vertical-align: center;
    font-size: 16;
    font-weight: bold;
    padding: 15;
}

.message-item {
    margin: 0;
    padding: 5;
}
.message-avatar {
    width: 25;
    height: 25;
    margin: 0 10;
    border-radius: 50%;
}
.message-block {
    padding: 3 10 10 10;
    width: auto;
    margin-right: 80;
    border-radius: 10;
    border-top-left-radius: 0;
    background-color: #daf6ff;
}
.message-autor {
    margin-bottom: 8;
    font-size: 16;
    font-weight: bold;
}
.message-body {
    font-size: 14;
} */
