ListView {
  separator-color: transparent;
  background-color: transparent;
}

.page {
  background-color: #efefef;
}

.page-content {
  padding: 20;
}

.title {
  text-align: center;
  font-size: 18;
  padding-bottom: 20;
  color: #1da1ff;
  font-weight: bold;
  text-transform: uppercase;
}

.thematic {
  padding: 15 10;
  margin-bottom: 30;
  font-size: 16;
  font-weight: bold;
  color: #ffffff;
}

.thematic-1 {
  background-color: #199c0f;
}

.thematic-2 {
  background-color: #5c6ac1;
}

.thematic-3 {
  background-color: #8e24aa;
}

.thematic-4 {
  background-color: #f0524f;
}

.question-block {
  padding: 0 10 20;
  border-bottom-width: 1;
}

.question {
  margin: 20 0 5;
  font-size: 16;
  font-weight: bold;
}
