.page {
  background-color: #efefef;
}

.page-content {
  padding: 20;
}

Page {
  color: black;
}

.intro {
  margin-bottom: 15;
  font-size: 12;
  color: #333333;
}

.title {
  text-align: center;
  font-size: 18;
  font-weight: 500;
  border-bottom-color: lightgray;
  border-bottom-width: 1;
  padding-bottom: 10;
  margin-bottom: 10;
  color: #000;
}

.service {
  width: 85%;
  border-bottom-color: lightgray;
  border-bottom-width: 1;
  padding-bottom: 10;
  margin-bottom: 10;
  height: 80;
}

.contact {
  text-align: center;
  font-size: 16;
  font-weight: 500;
}
